
{{!-- {{log 'gurps-mobile' 'feature-list' this level='warn'}} --}}
{{#if (isEqual _schema '/FeatureList')}}
<div class="feature-list {{isTrue expanded 'expanded'}} {{join classes}}" data-id="{{id}}" data-index="{{@index}}">
  <div class="label {{isNilOrEmpty label 'hidden'}}">
    <div class="chevron spacer"><i class="icon mdi mdi-chevron-up"></i></div>
    <span class="text">{{ label }}</span>
    <div class="chevron up"><i class="icon mdi mdi-chevron-up"></i></div>
    <div class="chevron down"><i class="icon mdi mdi-chevron-down"></i></div>
  </div>
  <div class="children">
    <div class="collapsed-list">
      {{#each children.collapsed}}
      {{> gurps/feature_list this}}
      {{/each}}
    </div>
    {{#each children.shown}}
    {{> gurps/feature_list this}}
    {{/each}}
  </div>
</div>
{{else if (isEqual _schema '/FeatureWrapper')}}
{{> gurps/feature_wrapper this}}
{{else}}
{{> gurps/feature this}}
{{/if}}